<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>
<body>
<script type="text/javascript" src="./js/jquery.js"></script>
<div class="container" style="background-color: #2B2B2B;margin: 0px;width: auto;">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #FFFFFF;padding: 4px 15px;">
            <spen class="panel-title" style="color: #2B2B2B;">
                <i class="fa fa-camera-retro fa-1x"></i> 简易版文件编辑器
            </spen>
            <span style="background-color: #2B2B2B;float: right;margin-left: 12px">
                <i class="fa fa-camera-retro fa-1x"></i>

            </span>
            <span style="float: right;background-color: #2B2B2B">
                 <i class="fa fa-spinner fa-spin"></i>
            </span>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #3C3F41;padding: 4px 15px;">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                            File
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">Java</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>
                            </li>
                        </ul>
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                            Edit
                            <span class="caret"></span>
                        </button>
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                            View
                            <span class="caret"></span>
                        </button>
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                            Navigate
                            <span class="caret"></span>
                        </button>
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                            Help
                            <span class="caret"></span>
                        </button>
                    </div>
                </div>
                <div class="panel-body" style="padding: 0px;margin: 0px">
                    <div class="panel panel-default" style="width: 20%;height:970px;background-color:#3C3F41;margin: 0px;float: left;overflow:auto;color: white">
                        <div class="panel-body" style="margin: 5px;padding: 0px">
                                <script type="text/x-template" id="item-template">
                                    <li>
                                        <div :class="{bold: isFolder}" @click="toggle" @dblclick="changeType">
                                            <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
                                            <span :id="model.value" onclick="getContent(id)">{{model.name}}</span>
                                        </div>
                                        <ul v-show="open" v-if="isFolder">
                                            <item class="item" v-for="model in model.children" :model="model">
                                            </item>
                                            <li class="add" @click="addChild">+</li>
                                        </ul>
                                    </li>
                                </script>
                                <ul id="demo">
                                    <item class="item" :model="treeData">
                                    </item>
                                </ul>
                        </div>
                    </div>
                    <div class="panel panel-default" style="width: 40%;height:970px;background-color:#3C3F41;margin: 0px;float: left">
                        <div class="panel-body" style="margin: 4px;padding: 0px">
                            <textarea id="text-input" oninput="this.editer.update()" onclick="this.editer.update()" style="width:100%;height:970px; background:#2B2B2B;font-size:22px;color: white">
                            </textarea>
                        </div>
                    </div>
                    <div class="panel panel-default" style="width: 40%;height:970px;background-color:#3C3F41;margin: 0px;float: left;overflow:auto;color: white">
                        <div class="panel-body" style="margin: 4px;padding: 0px" id="preview">
                            <script src='./js/markdown-browser-0.6.0-beta1/markdown.js'></script>
                            <script type="text/javascript">
                                function Editor(input , preview){
                                    this.update = function(){
                                        preview.innerHTML = markdown.toHTML(input.value);
                                    };
                                    input.editer = this
                                    this.update()
                                }

                                var $ = function(id) {
                                    return document.getElementById(id)
                                }
                                new Editor($("text-input"),$("preview"))
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="./js/vue.min.js"></script>
<script type="text/javascript" src="./js/tree.js"></script>
<script type="text/javascript" src="./js/demo.js"></script>
<script type="text/javascript" src="./js/jquery.js"></script>
<script>
    function getContent(path) {
        if(path){
            $.ajax({
                url: '/file/getContent',
                type: 'post',
                data: {
                    path: path
                },
                success: function (result) {
                    if (result.data === 'ok') {
                        // $(location).attr('href', '/admin_all');
                        $('#text-input').val(result.doc);
                    }
                }
            });
        }
    }
    function addFile(name) {
        console.log
    }
</script>
</html>